
*{
    
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    margin: 0;
    line-height: 1.5;
    letter-spacing: 0;
    
    color: white;
    overflow-x:hidden;
    cursor: context-menu;
}
a {
    font-weight: normal;
    color: #fff;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #fff;
}

#main-landing{
    position: relative;
}
#main-header {
    /* height: 60px; */
    text-align: center;
    position: relative;
    right: 0;
    /* width: 100%; */
    z-index: 100;
    transform: translateZ(0);
   
   
   
    /* display: flex; */
    /* flex-wrap: wrap; */
}

.btn-toggle-nav{
    /* width: 100px; */
    height: 100%;
   
}



#nav-reveal{
    
    /* display: flex; 
    flex-direction:column;
    justify-content: center;
    align-items: center; */
   
    height:84px;
    top: 0;
    right: 0;
    padding: 20px;
    display: inline-block;
    position: absolute;
    
    
    background-color: rgba(51, 42, 45, 0.66);
}
.main-burger > div{
    
     height: 6px;
     background-color: white;
     margin: 8px auto;
     border-radius:100px;
     transition: 0.3s;
     /* text-align: center; */
 }


.one{
   
    width: 50px;
}
.two{
    
    width: 40px;
}
.three{
    width: 30px;
}

.main-burger:hover div{
    width: 50px;
    /* padding: 0 30px 0 30px; */
    
}

/* the change bar to cross */
.change{
    
    width: 176px;
    
}
.change .one {
    width: 50px;
    -webkit-transform: rotate(-45deg) translate(-10px, 6px);
    transform: rotate(-45deg) translate(-10px, 6px);
  }
  
  .change .two {opacity: 0;
width: 50px;}
  
  .change .three {
      width: 50px;
    -webkit-transform: rotate(45deg) translate(-10px, -11px);
    transform: rotate(45deg) translate(-10px, -11px);
  }
  /* End of chagne bar */
#nav-main{
    display: block;
    width: 176px;
    top: 84px;
    right: 0;
    position: absolute;
    background-color: rgba(51, 42, 45, 0.66);
    padding: 15px 20px 0 20px;
    margin: 0 auto;
    z-index: 1200;
}
#nav-main ul{
   
    /* display: flex;
    flex-wrap: wrap; */
    padding: 15px 0 20px;
    margin: 0 auto;
    list-style: none;
    text-align: right;
    
    
}
#nav-main ul li{
   
    
    line-height: 40px;
    
    
}
#nav-main ul li a{
   
    display: block;
    height: 100%;
    padding: 0 10px;
    text-transform: capitalize;
    text-decoration: none;
}
#nav-main ul li a:hover{
    color: #948d8d;
}

/* .nav{
   
    width: 40px;
    height: 50%;
    display: block;
 

} */
.hidden{
    visibility: hidden;
}


/* video background section */
.hero-section{
  position: relative;
 background-color: black;
 
  min-height: 25rem;
 margin: auto;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  
  
    
}


.t-vid-container{
    left: 0;
    width: 100vw;
    position: absolute;
    
    
   
}

.t-vid{
    position: absolute;
    
    top: 0;
    left:0;
    min-width: 100%;
    min-height:100%;
    width: 100vw;
    overflow: auto;
    /* height: auto; */
    /* z-index: 0; */
    background-size: cover;
    
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.25;
    z-index: 1;
  }
  .heroverlay{
    
    top: 20%;
    text-align: center;
    position: relative;
    z-index: 2;
    
    
}
  .trans-all-out-10{
    
    width: 30vw;
    height: auto;
    margin: 1.2em auto 0;
    /* left:50%; */
    /* margin-bottom: 50px; */
}

.heroverlay p {
    
    font-size: 1.35em;
    width: 80%;
    max-width: 627px;
    padding-left: 1rem;
    padding-right: 1rem;
     
     
    margin: auto;
    margin: 1.2em auto 3em;
    
}
.cta{
    /* display: inline-block; */
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    /* font-weight: bold; */
    
    width: 150px;
    padding: 1rem 2rem;
    
    border: 1px solid #fff;
}
.down-arrow {
    background: url(/assets/arrow.png) no-repeat center center;
    background-size: 50px 20px;
    height: 150px;
    margin: 0.6em auto;
    z-index: 1000;
    opacity: 0.8;
  
    position: absolute;
    bottom: 10px;
    width: 100%;
    outline: none;
    transform: translateX(-1%);
}
.down-arrow a:hover{
    transform: translateX(-10%);
}

.tiles{
   
    color: #5b5456;
   
  
   
}
.tile{
    width: 100vw;
    height: auto;
    
    /* background-size: cover;
    background-position: center; */
    
    
}
/* .detail-1{
    margin:3em;
} */
.detail-1 h3 {
    font-size: 1.8em;
    margin: 0.3em 0;
}
.tile_lake{
    background-image: url(/assets/lakefront.jpg) no-repeat center;
  
}
/* .header_img{
    width: 100%;
    height: 50vh;
} */
.bg-dark-1{
    background-color:#5b5456;
}
.card{
    margin-bottom: 20px;
}
#social{
    color: black;
    text-align: center;
}
 #btn-own {
    border-radius: 0;
    /* margin-left:110px; */
   
    
    
}
.icons{
    cursor: pointer;
}
/* need to sort out later */
#enquire{
    color: #5b5456;
}
#footer-lower {
    background-color: #a49b9a;
    color: #fff;
}
#landing-footer{
    background-color: #5b5456;
}
/* upto here  */
@media (max-width: 900px){
    /* .t-vid{
        
        background-size: cover;
        
    } */
    /* .tile{
        width: 100%;
        height: 40vh;
    } */
    
   
   
}
@media screen and (max-width: 750px){
    /* .hero-section{
        width: 100%;
        height: 80vh;
    } */
    .t-vid{
        width: 90vh;
        /* height: 100vh; */
        background-size: cover;
        /* overflow: hidden; */
        
    }
  
    .header_img{
        width: 100%;
        height:30vh;
    }
    
    
}

@media screen and (max-width: 500px){
    /* .hero-section{
        width: 100%;
        height: 70vh;
    } */
    .t-vid{
        width: 100vh;
        height: 100vh;
        background-size: cover;
        
        

    }
    .trans-all-out-10{
        width: 50vw;
        height: auto;
    }
    /* .down-arrow{
        transform: translateY(-44%);
    } */
    
    
}

@media screen and (min-width:768px){
    span{position: absolute;
    background: rgba(175,169,169, 0.6);
    height: 80px;
    width:80px;
    line-height: 80px;
    border-radius: 100%;
    top: -40px;
    left:-40px;
    margin-left:50%;
    font-size: 1.8rem;

    }
    .card{
        margin-bottom: 0;
    }
    .logos{
        margin-top:40px;
    }
}