
*{
    
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 200;
    margin: 0;
    line-height: 1.4;
    letter-spacing: 0;
    
    color: white;
    overflow-x:hidden;
    cursor: default;
}
a {
    font-weight: normal;
    color: #fff;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #fff;
}
p{
    margin: 1.1em 0 0.2em;
}
.bold{
    font-size: medium  ;
}
#main-landing{
    position: relative;
}
#main-header {
    /* height: 60px; */
    text-align: center;
    position: relative;
    right: 0;
    /* width: 100%; */
    z-index: 100;
    transform: translateZ(0);
   
   
   
    /* display: flex; */
    /* flex-wrap: wrap; */
}

.btn-toggle-nav{
    /* width: 100px; */
    height: 100%;
   
}



#nav-reveal{
  
    height:84px;
    top: 0;
    right: 0;
    padding: 20px;
    display: inline-block;
    position: absolute;
    
    
    background-color:#003451;
}
.nav-bgcolor{
    background-color:#003451;
    margin: 0 auto;
    height: 84px;
}
.main-burger > div{
    
     height: 6px;
     background-color: white;
     margin: 8px auto;
     border-radius:100px;
     transition: 0.3s;
    
 }


.one{
   
    width: 50px;
}
.two{
    
    width: 40px;
}
.three{
    width: 30px;
}

.main-burger:hover div{
    width: 50px;
      
}

/* the change bar to cross */
.change{
    
    width: 176px;
    
}
.change .one {
    width: 50px;
    -webkit-transform: rotate(-45deg) translate(-10px, 6px);
    transform: rotate(-45deg) translate(-10px, 6px);
  }
  
  .change .two {opacity: 0;
width: 50px;}
  
  .change .three {
      width: 50px;
    -webkit-transform: rotate(45deg) translate(-10px, -11px);
    transform: rotate(45deg) translate(-10px, -11px);
  }
  /* End of chagne bar */
#nav-main{
    display: block;
    width: 176px;
    top: 84px;
    right: 0;
    position: absolute;
    background-color:#003451;
    padding: 15px 20px 0 20px;
    margin: 0 auto;
    z-index: 1200;
    border-top: 1px solid white;
}
#nav-main ul{
   
    padding: 15px 0 20px;
    margin: 0 auto;
    list-style: none;
    text-align: right;
    
    
}
#nav-main ul li{
   
    
    line-height: 40px;
    
    
}
#nav-main ul li a{
   
    display: block;
    height: 100%;
    padding: 0 10px;
    text-transform: capitalize;
    text-decoration: none;
}
#nav-main ul li a:hover{
    color: #948d8d;
}

.hidden{
    visibility: hidden;
}
/* big logo on side  */
.scroll-img{
    position: fixed;
    top: -29%;
    right:-14%;
    z-index: 1000;
}

/* video background section */
.hero-section{
  position: relative;
  background-color:#003451;
 
  min-height: 25rem;
  margin: auto;
  width: 100%;
  height: 100vh;
  overflow: hidden;
 }


.t-vid-container{
    left: 0;
    width: 100vw;
    position: absolute;
}

.t-vid{
    position: relative;
    top: 0;
    left:0;
    min-width: 100%;
    min-height:100%;
    width: 100vw;
    height: auto;
    overflow: auto;
    /* height: auto; */
    /* z-index: 0; */
    background-size: cover;
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.25;
    z-index: 1;
  }
  .heroverlay{
    
    top: 10%;
    text-align: center;
    position: relative;
    z-index: 2;
    
    
}
  .trans-all-out-10{
    
    width: 30vw;
    height: auto;
    margin: 1.2em auto 0;

}

.heroverlay p {
    
    font-size: 1.35em;
    width: 80%;
    max-width: 627px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    margin: 1.2em auto 3em;
    
}
.cta{
    /* display: inline-block; */
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    /* font-weight: bold; */
    
    width: 150px;
    padding: 1rem 2rem;
    
    border: 1px solid #fff;
}
.down-arrow {
    
   
    height: 60px;
    margin: 0.6em auto;
    z-index: 1000;
    /* left: 50%; */
    display: block;
    position: relative;
    text-align: center;
    bottom: 25%; 
    /* width:0%; */
    /* height: 50%; */
    outline: none;
    /* transform: translateX(-1%);*/
} 
.down-arrow:hover{
    transform: translateY(10%);
    transition: 0.3s;
    opacity: 0.7;  
}

.tiles{
   
    color: #5b5456;
   
   
  
   
}

.detail-1{
    padding: 4em 5.5em;
    
}
.detail-1 h3 {
    text-transform: none;
    font-size: 1.6em;
    font-weight: 300;
    margin: 0.3em 0;
}
.detail-1 h4 {
    text-transform: none;
    font-size: 1.4em;
    font-weight: 500;
    margin: 0.6em 0;
}
.tile-nav{
    padding: 2em 2.5em;
   
}
.tile-nav ul{
    padding: 0;
    margin: 2em 0 0;
}
.tile-nav li{
    font-size: 0.9em;
    background-color: #5b5456;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
    min-width: 150px;
    max-width: 180px;
    margin-right: 1em;
}

.tile_lake{
    background-image: url(/assets/lakefront.jpg) no-repeat center;
  
}

.bg-dark-1{
    background-color:#003451 ;
}
.card{
    margin-bottom: 20px;
}
#social{
    color: black;
    text-align: center;
}
#social .icons a{
    color: #5b5456;
}
 #btn-own {
    border-radius: 0;
    background-color:  #5b5456;
    /* margin-left:110px; */
   
    
    
}
.icons{
    cursor: pointer;
}
.foot-address{
    color: #5b5456;
    
}
.foot-address a{
    color: #5b5456;
}
/* need to sort out later */
#enquire{
    color: #5b5456;
}
#footer-lower {
    background-color: #a49b9a;
    color: #fff;
}
#landing-footer{
    background-color: #5b5456;
}
.logo-image{
   
    background: url(/assets/vision.jpg) center;
    background-size: cover;
}
#list li{
    margin-left: 8px;
    padding-left: 8px;
    
    line-height: 13px;
}
#menu-item-1999{
    border-left: 1px solid white;
}
/* upto here  */
@media (max-width: 900px){
    /* .t-vid{
        
        background-size: cover;
        
    } */
    /* .tile{
        width: 100%;
        height: 40vh;
    } */
    
   
   
}
@media screen and (max-width: 750px){
    /* .hero-section{
        width: 100%;
        height: 80vh;
    } */
    .t-vid{
        width: 90vh;
        /* height: 100vh; */
        background-size: cover;
        /* overflow: hidden; */
        
    }
  
    .header_img{
        width: 100%;
        height:30vh;
    }
    
    
}

@media screen and (max-width: 500px){
    /* .hero-section{
        width: 100%;
        height: 70vh;
    } */
    .t-vid{
        width: 100vh;
        height: 100vh;
        background-size: cover;
        
        

    }
    .trans-all-out-10{
        width: 50vw;
        height: auto;
    }
    /* .down-arrow{
        transform: translateY(-44%);
    } */
    
    
}

@media screen and (min-width:768px){
    span{position: absolute;
    background: rgba(175,169,169, 0.6);
    height: 80px;
    width:80px;
    line-height: 80px;
    border-radius: 100%;
    top: -40px;
    left:-40px;
    margin-left:50%;
    font-size: 1.8rem;

    }
    .card{
        margin-bottom: 0;
    }
    .logos{
        margin-top:40px;
    }
}